[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
mangum = "*"
google-generativeai = "*"
python-multipart = "*"
pydantic = "*"

[requires]
python_version = "3.12"